* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(62,62,244,1) 100%);
}

.header {
  display: flex;
  height: 5%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 40%; */
  border: 1px solid red;
  padding: 0 6% 0 3%;
}

.header__button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  z-index: 4;
}

.header__button__line {
  height: 0.25rem;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: 100%;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.header__button__line:nth-child(3) {
  transform: rotate(0);
}

.header__button__line--active {
  height: 0.25rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 2rem;
  position: relative;
  transform-origin: 1px;
  transition: all 0.3s linear;
  z-index: 4;
}

.header__button__line--active:first-child {
  transform: rotate(45deg);
}

.header__button__line--active:nth-child(2) {
  transform: translateX(20px);
  opacity: 0;
}

.header__button__line--active:nth-child(3) {
  transform: rotate(-45deg);
}

.header__title {
  font-size: 1.5rem;
  margin: auto;
}

.slider {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: open 0.3s linear;
}

@keyframes open {
  0% {transform: translateX(-250px);}
  100% {transform: translateX(0);}
}

.slider--hidden {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation: close 0.3s linear;
}

@keyframes close {
  0% {transform: translateX(0);}
  100% {transform: translateX(-250px);}
}

.slider__title {
  margin: 8px 0 11px 50px; 
  color: rgba(255, 255, 255, 0.8);
}